<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, 
                                     initial-scale=1.0, 
                                     maximum-scale=1.0, 
                                     user-scalable=no">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Signin Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="signin.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <p th:utext="'<b>审核待审核应用信息：</b>'">title</p>
    <div class="container">
            <p th:utext="'<b>待审核应用列表：</b>'">待审核应用列表</p>
            <table class="table table-dark">
                <tr>
                    <th>ID</th>
                    <th>APP名称</th>
                    <th>APP分类</th>
                    <th>19项指标等级</th>
                    <th>综合等级</th>
                    <th>审核状态</th>
                </tr>
              </thead>
              </tbody>
                <tr th:each="appInfo : ${appInfoList}">
                    <td th:text="${appInfo.id}">Appid</td>
                    <td th:text="${appInfo.name}">Appname</td>
                    <td th:text="${appInfo.classification}">classification</td>
                    <td th:text="${appInfo.standardslevel}">standardslevel</td>
                    <td th:text="${appInfo.level}">level</td>
                    <td th:text="${appInfo.checked}">checked</td>
                </tr>
              </tbody>
            </table>
          <p th:text="'请输入想要审核的应用的ID：'">说明</p>
          <form name="checkApp" action="/userindex/checkApp" class="text-info">
              AppID:<input type="text" name="id"><br/>
              <input type="submit" value="审核">
          </form>
      
    </div> <!-- /container -->
   
    


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>