<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<div class="col-md-8">  
  <div class="panel panel-default">  

<body>
    <!-- 不存在则忽略，显示hello null!(可以通过默认值进行设置)-->
    <p th:text="'Hello ' + (${name}?:'admin')">3333</p>
    <table class="table table-dark">
        <tr>
            <th>ID</th>
            <th>NAME</th>
        </tr>
      </thead>
      </tbody>
        <tr th:each="emp : ${empList}">
            <td th:text="${emp.id}">1</td>
            <td th:text="${emp.name}">海</td>
        </tr>
      </tbody>
    </table>

    <a th:href="@{hello}">hello页面</a>
    <p><a class="btn btn-primary btn-lg" th:href="@{hello}" role="button">登录</a></p>
    
    
  </div>  
</div>  

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</body>
</html>